<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TestMapper">

	<select id="getSql1" resultType="String">
	  select username from ${table}
	</select>
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from t_shandong1
	</select>
	<select id="getEngineerMap" resultType="java.lang.String">
		select CONCAT('0',brandbond_code) from t_inner_mongolia4
	</select>

	<insert id="insertSql" parameterType="java.util.List">
		insert into test_insert(name ,age)
		values
		<foreach collection="list" item='pa' index="index" separator=','>
			(#{pa.name}, #{pa.age})
		</foreach>
	</insert>

	<insert id="insertUser" >
		insert ignore into t_user_engineer_rel(user_broadcast ,user_phone)
		values ('123123','123123')
	</insert>

	<insert id="insertEngineerUserList" parameterType="java.util.List">
		insert into t_henan(engineer_phone,brandbond_code) values
		<foreach collection="param1" item='pa' index="index" separator=','>
			${pa}
		</foreach>

	</insert>

    <insert id="insertUserList">
		insert into t_hebei1(engineer_phone,brandbond_code) values
		<foreach collection="userEngineerPOS" item='pa' index="index" separator=','>
			(#{pa.engineerPhone},#{pa.brandbondCode})
		</foreach>

	</insert>
	<insert id="insertDemo">
		insert into d_evaluate_report(engineer_account) values('123123')
	</insert>
    <insert id="insertUserBroadBandList">
		insert into t_user_engineer_rel_repetition(engineer_account, engineer_name, engineer_province, engineer_eparchy,
		department, district_code, engineer_status, user_broadcast, bind_time,
		install_addr, user_phone, product_id, product_name, user_cert_type,
		user_cert_no, user_province, user_eparchy, user_name, status, create_time,
		update_time, note, source, date_type, develop_id, develop_name,
		develop_staff_id, develop_depart_id, develop_depart_name)
		values
		<foreach collection="list" item='pa' index="index" separator=','>
			(#{pa.engineerAccount}, null, #{pa.engineerProvince}, null, null,
			null, null, #{pa.userBroadcast}, now(), null,
			null,null, null, null, null, null,
			null,null, 2, now(), now(), #{pa.note}, null, null,
			null,null,null, null,null)
		</foreach>
	</insert>

	<insert id="insertUserList2">
		insert into t_new_liaoning(engineer_phone,brandbond_code) values
		<foreach collection="userEngineerPOS" item='pa' index="index" separator=','>
			(#{pa.engineerPhone},#{pa.brandbondCode})
		</foreach>

	</insert>
</mapper>
